
#image2{
    text-align: center;
}
#image3{
    text-align: center;
}
#image4{
    text-align: center;
}
#image5{
    text-align: center;
}

.image{
    display: grid;
    grid-template-columns: 50% 50%;
}

#image6{
    display: flex;
    grid-template-columns: 50% 50%;
}
.image1{
    display: flex;
    gap: 20%;
}

#giraffe{
    width: 70%;
}
.footer{
    display: flex;
    
}
.list{
    list-style-type: none;
}
.list1{
    list-style-type: none;
}
.list2{
  list-style-type: none; 
}
.list3{
    list-style-type: none;
}
#body{
    margin-left: 10%;
}
#frame{
    text-align: center;
}